# Dependencies
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Source extension (NEVER push raw source code)
ext/

# Build artifacts
ext-build/

# Misc
*.log
*.tmp
